@model lab04.Models.FriendModel

@{
    ViewBag.Title = "EditFriend";
}

<h2>Update friend</h2>

@using (Html.BeginForm("EditConfirm","Friend", new { id=Model.FriendModelId }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Update friend:  </h4>
    <hr />
    @Html.HiddenFor(m => m.FriendModelId)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FriendIdentification, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FriendIdentification, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FriendIdentification, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MestoZiveenje, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MestoZiveenje, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MestoZiveenje, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-primary" />
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AllFriends","Friend", new { id=Model.FriendModelId})'">Back</button>
        </div>
    </div>
</div>
}

